<style>
.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  }
.scrolling-wrapper::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrolling-wrapper {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
</style>
<div style="margin-top:10px; text-align:center"><div style="font-weight:bold; margin-bottom:5px; color:#fff; display:inline-block; background-color:#0b76e0; padding:5px 10px 5px 10px; border-radius:50px;"> POPULAR BRANDS <i class="fa-solid fa-arrow-turn-down"></i></div>
  <div align="center" style="margin-bottom:10px;">

    <i class="fa fa-chevron-right" style="float:right; margin-left:5px; line-height:2.6; color:#0b76e0;" aria-hidden="true"></i>
    <i class="fa fa-chevron-left" style="float:left; margin-right:5px; line-height:2.6; color:#0b76e0;" aria-hidden="true"></i>
  <div class="scrolling-wrapper" style="margin-top:10px;">
    
<a style="text-decoration:none;" href="{{ collection.url }}"><span class="button-primary" style="--pxu-lia-inner-sequence:2; animation-play-state: running;">
        ALL BRANDS
  </span></a>
&nbsp;    
<a style="text-decoration:none;" href="{{ collection.url }}/innokin"><span id="Innokinselector" class="button-primary" style="--pxu-lia-inner-sequence:2; animation-play-state: running;">
        INNOKIN
  </span></a>
 
<a style="text-decoration:none;" href="{{ collection.url }}/aspire"><span id="Aspireselector" class="button-primary" style="--pxu-lia-inner-sequence:2; animation-play-state: running;">
        ASPIRE
  </span></a>
 
<a style="text-decoration:none;" href="{{ collection.url }}/Vaptio"><span id="Vaptioselector" class="button-primary" style="--pxu-lia-inner-sequence:2; animation-play-state: running;">
        VAPTIO
  </span></a>
 
<a style="text-decoration:none;" href="{{ collection.url }}/smok"><span id="Smokselector" class="button-primary" style="--pxu-lia-inner-sequence:2; animation-play-state: running;">
        SMOK
  </span></a>
 
<a style="text-decoration:none;" href="{{ collection.url }}/vaporesso"><span id="Vaporessoselector" class="button-primary" style="--pxu-lia-inner-sequence:2; animation-play-state: running;">
        VAPORESSO
  </span></a>
 
<a style="text-decoration:none;" href="{{ collection.url }}/Freemax"><span id="Freemaxselector" class="button-primary" style="--pxu-lia-inner-sequence:2; animation-play-state: running;">
        FREEMAX
  </span></a>
 
<a style="text-decoration:none;" href="{{ collection.url }}/voopoo"><span id="Voopooselector" class="button-primary" style="--pxu-lia-inner-sequence:2; animation-play-state: running;">
        VOOPOO
  </span></a>
 &nbsp;    
<a style="text-decoration:none;" href="{{ collection.url }}/Uwell"><span id="Uwellselector" class="button-primary" style="--pxu-lia-inner-sequence:2; animation-play-state: running;">
        UWELL
  </span></a>

    
</div>
</div>
</div>