{% comment %}
  @param product {Object}
    Required to show product information
{% endcomment %}

{% assign recently_viewed = recently_viewed | default: nil %}

{% assign product_grid_show_second_image = settings.product_grid_show_second_image %}
{% assign emphasize_price = settings.product_grid_emphasize_price %}
{% assign quick_shop_display = settings.product_grid_show_quickshop %}
{% assign atc_display = settings.product_grid_show_atc %}
{% assign product_ratings_reviews = settings.product_ratings_reviews %}
{% assign product_ratings_star_display = settings.product_ratings_star_display %}
{% assign money_format = shop.money_format | strip_html %}

{% if product %}
  {% assign compare_at_price = product.compare_at_price %}
  {% assign compare_at_price_varies = product.compare_at_price_varies %}
  {% assign price = product.price %}
  {% assign price_varies = product.price_varies %}
  {% assign product_available = product.available %}
  {% assign product_title = product.title %}
  {% assign product_vendor = product.vendor %}
  {% assign product_link = product.url | within: collection %}
  {% assign product_description = product.description | strip_html %}
  {% assign product_description_size = product.description | strip_html | size %}
  {% if recently_viewed == true %}
    {%- capture recently_viewed_header -%}
    <div class="product-recently-viewed-card-time" data-product-handle="{{product.handle}}">
      <button
        class="product-recently-viewed-card-remove"
        aria-label="close"
        data-remove-recently-viewed
      >
        {% render 'icon-remove' %}
      </button>
    </div>
    {%- endcapture -%}
  {% endif %}
{% else %}
  {% assign onboarding = true %}
  {% assign compare_at_price = 1999 %}
  {% assign compare_at_price_varies = false %}
  {% assign price = 1999 %}
  {% assign price_varies = false %}
  {% assign product_available = true %}
  {% assign product_title = 'onboarding.product.title' | t %}
  {% assign product_vendor = 'onboarding.product.vendor' | t %}
  {% assign product_link = '#' %}
{% endif %}

{% assign on_sale = false %}
{% for variant in product.variants %}
  {% if variant.compare_at_price > variant.price %}
    {% assign on_sale = true %}
    {% break %}
  {% endif %}
{% endfor %}

{% assign has_variants = false %}
{% unless product.has_only_default_variant %}
  {% assign has_variants = true %}
{% endunless %}

{% assign consistent_saved = false %}
{% capture consistent_savings %}
  {%
    render 'consistent-savings',
    variants: product.variants,
    on_sale: on_sale
  %}
{% endcapture %}
{% if consistent_savings contains 'true' %}
  {% assign consistent_saved = true %}
{% endif %}

{%- capture classes -%}
  productgrid--item
  imagestyle--{% if settings.product_grid_image_crop and settings.product_grid_image_style != 'natural' %}cropped-{% endif %}{{ settings.product_grid_image_style }}
  {% unless product.featured_image %}imagestyle--no-image{% endunless %}
  {% if on_sale %}productitem--sale{% endif %}
  {% if emphasize_price %}productitem--emphasis{% endif %}
  {% if recently_viewed %}product-recently-viewed-card{% endif %}
  {% if atc_display == 'always' or quick_shop_display == 'always' %}show-actions--mobile{% endif %}
{%- endcapture -%}

{% capture to_hash %}
  {{ shop.money_format | strip_html }}
  {{ settings | json }}
  {{ 'product.buttons.add_to_cart' | t }}
  {{ 'product.buttons.sold_out' | t  }}
  {{ product | json }}
{% endcapture %}
{% assign to_hash = to_hash | replace: ' ', '' | sha256 %}

{%- assign show_swatches = false -%}
  {% assign initial_image = product.featured_media.preview_image.src %}
  {%- if settings.swatches_enable and recently_viewed != true -%}
    {% comment %} Check if product should show swatches {% endcomment %}
    {%- for option in product.options_with_values -%}
      {%- assign swatch_trigger = settings.swatches_swatch_trigger | strip | downcase -%}
      {%- assign option_name = option.name | downcase -%}
      {%- if option_name == swatch_trigger -%}
        {%- assign show_swatches = true -%}
        {%- assign swatch_values = option.values -%}
        {%- assign swatch_values_count = option.values.size -%}
        {%- assign swatch_option_key = 'option' | append: forloop.index -%}
        {%- break -%}
      {%- endif -%}
    {%- endfor -%}

    {% if section.settings.filter_style == 'groups' and current_tags and show_swatches %}
      {% comment %} We are filtered by tags, so check and see if it's filtering by swatch {% endcomment %}
      {% for tag in current_tags %}
        {% assign tag_group = tag | split: '_' | first | downcase %}
        {% if tag_group == swatch_trigger %}
          {% assign active_swatch_name = tag | split: '_' | last | downcase %}

          {% comment %} Filter variants by swatch (for ex. where color == blue). Can't use | where due to case sensitivity {% endcomment %}
          {% for variant in product.variants %}
            {% assign option_value = variant[swatch_option_key] | downcase %}
            {% if option_value == active_swatch_name %}
              {% if variant.image %}
                {% assign initial_image = variant.image %}
              {% endif %}
              {% break %}
            {% endif %}
          {% endfor %}
          {% break %}
        {% endif %}
      {% endfor %}
    {% endif %}

    {% capture product_item_swatches %}
      {%- if show_swatches -%}
        <div
          class="
            productitem--swatches
            {% if settings.swatches_shape == 'square' and settings.swatches_option_style == 'variant_image' %}
              swatches-variant-images-square
            {% endif %}
          "
          data-swatches
        >
          <script type="application/json" data-swatch-data>
            {
              "hash": {{ to_hash | json }},
              "swatchOptionKey": {{ swatch_option_key | json }},
              "variants": {{ product.variants | json }}
            }
          </script>
          <form
            class="productitem--swatches-container"
            data-swatches-container
            aria-label="{{ 'general.accessibility.swatch_options' | t: swatch_trigger: settings.swatches_swatch_trigger, product_title: product.title }}"
          >
            {% for swatch_value in swatch_values %}
              {% assign swatch_value_downcased = swatch_value | downcase %}
              <label>
                <input
                  class="productitem--swatches-input"
                  type="radio"
                  tabindex="0"
                  name="swatch"
                  value="{{ swatch_value | escape }}"
                  aria-label="{{ swatch_value | escape }}"
                  {% if swatch_value_downcased == active_swatch_name %}checked{% endif %}
                >
                {% assign use_variant_images = false %}
                {% if settings.swatches_option_style == 'variant_image' %}
                  {% assign use_variant_images = true %}
                {% endif %}
                {% assign use_aspect_ratio = false %}
                {% if settings.swatches_shape == 'square' %}
                  {% assign use_aspect_ratio = true %}
                {% endif %}
                {%- capture swatch_styles -%}
                  {%
                    render 'swatch-styles',
                    color_name: swatch_value,
                    use_variant_images: use_variant_images,
                    swatch_product: product,
                    swatch_option_key: swatch_option_key,
                    swatch_size: settings.swatches_product_card_size,
                    use_aspect_ratio: use_aspect_ratio,
                  %}
                {%- endcapture -%}
                <div
                  class="productitem--swatches-swatch-wrapper"
                  data-swatch-tooltip="{{ swatch_value | escape }}"
                  data-swatch
                  style="{{ swatch_styles | split: '/* variables */' | last | remove: '/* variables */'}}"
                >
                  <div class="productitem--swatches-swatch">
                    <div
                      class="productitem--swatches-swatch-inner"
                      style="
                        {{ swatch_styles | split: '/* variables */' | first }}
                        {% comment %} {% if use_variant_images and settings.swatches_shape == 'square' %}border-radius: 0;{% endif %} {% endcomment %}
                      "
                    >
                    </div>
                  </div>
                </div>
              </label>
            {% endfor %}
          </form>
          <button
            class="productitem--swatches-count-wrapper"
            tabindex="0"
            data-swatch-count-wrapper
            aria-label="{{ 'general.accessibility.swatches_toggle' | t: swatch_trigger: settings.swatches_swatch_trigger }}"
          >
            <div class="productitem--swatches-count" data-swatch-count>+</div>
          </button>
        </div>
      {%- endif -%}
    {% endcapture %}
  {%- endif -%}

<li
  class="{{ classes | strip_newlines }}"
  data-product-item
  data-product-quickshop-url="{{ product_link }}"
  data-quickshop-hash="{{ to_hash }}"
  {% if recently_viewed %}
    data-recently-viewed-card
  {% endif %}
>
  <div class="productitem" data-product-item-content>
    {{ recently_viewed_header }}

{% if product.tags contains "multibuy" %}
<div style="background-color:#0b76e0; max-width:200px; display:inline-block; position:absolute; left:0; margin-top:5px; font-size:11px; z-index:50; color:#FFF; padding:5px; font-weight:bold;">MULTIBUY</div>
{% endif %}
{% if product.tags contains "Starter Kit" %}
<div style="background-color:#0b76e0; max-width:200px; display:inline-block; position:absolute; left:0; margin-top:5px; font-size:11px; z-index:50; color:#FFF; padding:5px; font-weight:bold;">FREE E-LIQUID</div>
{% endif %}
{% if product.tags contains "Banned" %}
<div style="background-color:#a800ff; max-width:200px; display:inline-block; position:absolute; left:0; margin-top:5px; font-size:11px; z-index:50; color:#FFF; padding:5px; font-weight:bold;">BANNED IN JUNE</div>
{% endif %}
{% if product.tags contains "OnlineExclusive" %}
<div style="background-color:0b76e0; max-width:200px; display:inline-block; position:absolute; left:0; margin-top:5px; font-size:11px; z-index:50; color:#FFF; padding:5px; font-weight:bold;">ONLINE EXCLUSIVE</div>
{% endif %}
  {% render 'new-badge', this_product: product %}

      {% if product.metafields.reviews.rating_count >= 80 %}
<div style="background-color:#0b76e0; max-width:200px; display:inline-block; position:absolute; right:0; margin-top:5px; font-size:11px; z-index:50; color:#FFF; padding:5px; font-weight:bold;">TOP <i class="fa fa-trophy"></i></div>
{% endif %}
        
<a
      class="productitem--image-link"
      href="{{ product.url | within: collection }}"
      tabindex="-1"
      data-product-page-link
    >
      <figure class="productitem--image" data-product-item-image>
        {% if initial_image %}
          {% if product_grid_show_second_image and product.media.size > 1 %}
            {% assign second_image = product.media[1].preview_image.src %}
            {%
              render 'rimg',
              img: second_image,
              size: '512x',
              lazy: true,
              class: 'productitem--image-alternate',
              canvas: true
            %}
          {% endif %}
          {%
            render 'rimg',
            img: initial_image
            size: '512x',
            lazy: true,
            class: 'productitem--image-primary',
            canvas: true
          %}
        {% else %}
          {% if product %}
            {{ 'image' | placeholder_svg_tag: 'placeholder--image' }}
          {% else %}
            {%- capture index -%}
              {%- cycle '1', '2', '3', '4', '5', '6' -%}
            {%- endcapture -%}
            {{ 'product-' | append: index | placeholder_svg_tag: 'placeholder--image' }}
          {% endif %}
        {% endif %}

        {% comment %}{%
          render 'product-badge',
          class_root: 'productitem',
          product: product,
          product_available: product_available,
          on_sale: on_sale,
          price: price,
          compare_at_price: compare_at_price,
          show_saved: consistent_saved,
          include_range: true,
          compare_at_price_varies: compare_at_price_varies,
        %}{% endcomment %}
      </figure>
    </a>

    {%- capture product_item_price -%}
      {%
        render 'product-price',
        product: product,
        class_root: 'productitem',
        price: price,
        price_varies: price_varies,
        compare_at_price: compare_at_price,
        compare_at_price_varies: compare_at_price_varies,
        on_sale: on_sale,
        emphasize_price: emphasize_price,
        show_original: true,
        show_range: true,
        include_hidden_price: false
      %}
    {%- endcapture  -%}

    <div class="productitem--info">
      {{ product_item_swatches }}

      {% if emphasize_price %}
        {{ product_item_price }}
      {% endif %}

      {% if product %}
  {% assign variant_sku_values = product.variants | map: 'sku' %}
  {% assign sku_values = variant_sku_values | uniq | join: ';' %}
  {% assign ls_selected_or_first_variant = product.selected_or_first_available_variant %}

  {% if product.available %}
    {% assign ls_availability = 1 %}
  {% else %}
    {% assign ls_availability = 0 %}
  {% endif %}

  <div style="margin-left: auto; margin-right: auto; width: fit-content;"><div class="lipscore-rating-small"
    ls-product-name="{{ product.title }}"
    ls-brand="{{ product.vendor }}"
    ls-sku="{{ sku_values }}"
    ls-product-id="{{ product.id }}"
    ls-product-url="{{ shop.url }}{{ product.url }}"
    ls-description="{{ product.description | escape }}"
    ls-image-url="{{ product | img_url: '1024x1024' | remove: '_1024x1024' }}"
    ls-price="{{ ls_selected_or_first_variant.price | money_without_currency }}"
    ls-price-currency="{{ shop.currency }}"
    ls-availability="{{ ls_availability }}"
    ls-category="{{ product.type }}">
  </div> </div><br>
{% endif %}
    
      <div style="background-color:#0b76e0; font-weight:bold; color:#FFF; padding:5px; border-radius:5px; display:inline-block; margin:5px 5px 0px 0px;">
      {{ product.price_min | times:1.2 | money }} {% if product.price_varies %} - {{ product.price_max | times:1.2 | money }}{% endif %}
      </div>
      <span style="color:#6e6e6e;">{% if product.compare_at_price %}<del>{{ product.compare_at_price_min | times:1.2 | money }}</del>{% endif %}</span>

      <h2 class="productitem--title">
        <a href="{{ product_link }}" data-product-page-link>
          {{ product_title }}
        </a>
      </h2>
      {% comment %}
      {% if settings.product_show_vendor and product.vendor != blank %}
        <span class="productitem--vendor">
          {{ product_vendor | link_to_vendor }}
        </span>
      {% endif %}
		{% endcomment %}
            
            {% comment %}
      {% unless emphasize_price %}
        {{ product_item_price }}
      {% endunless %}
      {% endcomment %}

     <div align="center">
{% if product.tags contains "weeklydeal" %}
  <a style="text-decoration:none;" href="{{ product_link }}"><div class="productcardoffer" style="background-color:#0B76E0;"><i class="fa-sharp fa-solid fa-timer" style="line-height:1"></i> <strong>TIMED WEEKLY DEAL</strong></div></a>
{% endif %}
{% if product.compare_at_price %} 
<a style="text-decoration:none;" href="{{ product_link }}"><div class="productcardoffer" style="background-color:#0B76E0;"><i class="fa fa fa-solid fa-badge-percent" style="line-height:1"></i> <strong>SAVE {{ product.compare_at_price_max | minus: product.price | times: 100.0 | divided_by: product.compare_at_price_max | money_without_currency | times: 100 | remove: '.0'}}%</strong></div></a>
{% endif %}
{% if product.tags contains "2for15" %}
  <a style="text-decoration:none;" href="{{ product_link }}"><div class="productcardoffer"  style="background-color:#0B76E0;"><i class="fa fa fa-solid fa-tags" style="line-height:1"></i> <strong>2 FOR £15</strong></div></a>
{% endif %}
          {% if product.tags contains "2for25" %}
  <a style="text-decoration:none;" href="{{ product_link }}"><div class="productcardoffer"  style="background-color:#0B76E0;"><i class="fa fa fa-solid fa-tags" style="line-height:1"></i> <strong>2 FOR £25</strong></div></a>
{% endif %}
{% if product.tags contains "2for30" %}
  <a style="text-decoration:none;" href="{{ product_link }}"><div class="productcardoffer"  style="background-color:#0B76E0;"><i class="fa fa fa-solid fa-tags" style="line-height:1"></i> <strong>2 FOR £30</strong></div></a>
{% endif %}
  {% if product.tags contains "2for20" %}
  <a style="text-decoration:none;" href="{{ product_link }}"><div class="productcardoffer"  style="background-color:#0B76E0;"><i class="fa fa fa-solid fa-tags" style="line-height:1"></i> <strong>2 FOR £20</strong></div></a>
{% endif %}
{% if product.tags contains "3for10" %}
  <a style="text-decoration:none;" href="{{ product_link }}"><div class="productcardoffer"  style="background-color:#0B76E0;"><i class="fa fa fa-solid fa-tags" style="line-height:1"></i> <strong>3 FOR £10</strong></div></a>
  {% endif %}
  {% if product.tags contains "3for12" %}
  <a style="text-decoration:none;" href="{{ product_link }}"><div class="productcardoffer"  style="background-color:#0B76E0;"><i class="fa fa fa-solid fa-tags" style="line-height:1"></i> <strong>3 FOR £12</strong></div></a>
  {% endif %}
{% if product.tags contains "3for1250" %}
  <a style="text-decoration:none;" href="{{ product_link }}"><div class="productcardoffer"  style="background-color:#0B76E0;"><i class="fa fa fa-solid fa-tags" style="line-height:1"></i> <strong>3 FOR £12.50</strong></div></a>
  {% endif %}
  {% if product.tags contains "4for10" %}
  <a style="text-decoration:none;" href="{{ product_link }}"><div class="productcardoffer"  style="background-color:#0B76E0;"><i class="fa fa fa-solid fa-tags" style="line-height:1"></i> <strong>4 FOR £10</strong></div></a> 
{% endif %}
  {% if product.tags contains "5for10" %}
  <a style="text-decoration:none;" href="{{ product_link }}"><div class="productcardoffer"  style="background-color:#0B76E0;"><i class="fa fa fa-solid fa-tags" style="line-height:1"></i> <strong>5 FOR £10</strong></div></a> 
{% endif %}
    {% if product.tags contains "4for12" %}
  <a style="text-decoration:none;" href="{{ product_link }}"><div class="productcardoffer" style="background-color:#0B76E0;"><i class="fa fa fa-solid fa-tags" style="line-height:1"></i> <strong>4 FOR £12</strong></div></a>
  {% endif %}
  {% if product.tags contains "5for12" %}
  <a style="text-decoration:none;" href="{{ product_link }}"><div class="productcardoffer" style="background-color:#0B76E0;"><i class="fa fa fa-solid fa-tags" style="line-height:1"></i> <strong>5 FOR £12</strong></div></a>
  {% endif %}
  {% if product.tags contains "5for20" %}
  <a style="text-decoration:none;" href="{{ product_link }}"><div class="productcardoffer" style="background-color:#0B76E0;"><i class="fa fa fa-solid fa-tags" style="line-height:1"></i> <strong>5 FOR £20</strong></div></a>
{% endif %}
  {% if product.tags contains "10for40" %}
  <a style="text-decoration:none;" href="{{ product_link }}"><div class="productcardoffer" style="background-color:#0B76E0;"><i class="fa fa fa-solid fa-tags" style="line-height:1"></i> <strong>10 FOR £40</strong></div></a>
{% endif %}
  {% if product.tags contains "2for10" %}
  <a style="text-decoration:none;" href="{{ product_link }}"><div class="productcardoffer" style="background-color:#0B76E0;"><i class="fa fa fa-solid fa-tags" style="line-height:1"></i> <strong>2 FOR £10</strong></div></a>
{% endif %}
{% if product.tags contains "2for699" %}
  <a style="text-decoration:none;" href="{{ product_link }}"><div class="productcardoffer" style="background-color:#0B76E0;"><i class="fa fa-solid fa-tags" style="line-height:1"></i> <strong>2 FOR £6.99</strong></div></a>
{% endif %}
{% if product.tags contains "3for999" %}
  <a style="text-decoration:none;" href="{{ product_link }}"><div class="productcardoffer" style="background-color:#0B76E0;"><i class="fa fa fa-solid fa-tags" style="line-height:1"></i> <strong>3 FOR £9.99</strong></div></a>
{% endif %}
{% if product.tags contains "2freeheets" %}
  <a style="text-decoration:none;" href="{{ product_link }}"><div class="productcardoffer" style="background-color:#0B76E0;"><i class="fa fa fa-solid fa-tags" style="line-height:1"></i> <strong>2 FREE HEETS</strong></div></a>
{% endif %}
{% if product.tags contains "2freeterea" %}
  <a style="text-decoration:none;" href="{{ product_link }}"><div class="productcardoffer" style="background-color:#0B76E0;"><i class="fa fa fa-solid fa-tags" style="line-height:1"></i> <strong>2 FREE TEREA/DELIA</strong></div></a>
{% endif %}
{% if product.tags contains "Starter Kit" %}
  <a style="text-decoration:none;" href="{{ product_link }}"><div class="productcardoffer" style="background-color:#0B76E0;"><i class="fa-sharp fa-solid fa-circle-exclamation" style="line-height:1"></i> <strong>FREE E-LIQUID</strong></div></a>
{% endif %}
{% if product.tags contains "pod3for999" %}
  <a style="text-decoration:none;" href="{{ product_link }}"><div class="productcardoffer" style="background-color:#0B76E0;"><i class="fa fa fa-solid fa-tags" style="line-height:1"></i> <strong>3 FOR £9.99</strong></div></a>
{% endif %}
{% if product.tags contains "5for1449" %}
  <a style="text-decoration:none;" href="{{ product_link }}"><div class="productcardoffer" style="background-color:#0B76E0;"><i class="fa fa fa-solid fa-tags" style="line-height:1"></i> <strong>5 FOR £14.49</strong></div></a>
{% endif %}
{% if product.tags contains "3for30" %}
  <a style="text-decoration:none;" href="{{ product_link }}"><div class="productcardoffer" style="background-color:#0B76E0;"><i class="fa fa fa-solid fa-tags" style="line-height:1"></i> <strong>3 FOR £30</strong></div></a>
{% endif %}
{% if product.tags contains "3for25" %}
  <a style="text-decoration:none;" href="{{ product_link }}"><div class="productcardoffer" style="background-color:#0B76E0;"><i class="fa fa fa-solid fa-tags" style="line-height:1"></i> <strong>3 FOR £25</strong></div></a>
{% endif %}
{% if product.tags contains "6for10" %}
  <a style="text-decoration:none;" href="{{ product_link }}"><div class="productcardoffer" style="background-color:#0B76E0;"><i class="fa fa fa-solid fa-tags" style="line-height:1"></i> <strong>6 FOR £10</strong></div></a>
{% endif %}
{% if product.tags contains "2for7" %}
  <a style="text-decoration:none;" href="{{ product_link }}"><div class="productcardoffer" style="background-color:#0B76E0;"><i class="fa fa fa-solid fa-tags" style="line-height:1"></i> <strong>2 FOR £7</strong></div></a>
{% endif %}
{% if product.tags contains "2for5" %}
  <a style="text-decoration:none;" href="{{ product_link }}"><div class="productcardoffer" style="background-color:#0B76E0;"><i class="fa fa fa-solid fa-tags" style="line-height:1"></i> <strong>2 FOR £5</strong></div></a>
{% endif %}
{% if product.tags contains "10for4" %}
  <a style="text-decoration:none;" href="{{ product_link }}"><div class="productcardoffer" style="background-color:#0B76E0;"><i class="fa fa fa-solid fa-tags" style="line-height:1"></i> <strong>10 FOR £4</strong></div></a>
{% endif %}
{% if product.tags contains "2for14" %}
  <a style="text-decoration:none;" href="{{ product_link }}"><div class="productcardoffer" style="background-color:#0B76E0;"><i class="fa fa fa-solid fa-tags" style="line-height:1"></i> <strong>2 FOR £14</strong></div></a>
{% endif %}
{% if product.tags contains "2for750" %}
  <a style="text-decoration:none;" href="{{ product_link }}"><div class="productcardoffer" style="background-color:#0B76E0;"><i class="fa fa fa-solid fa-tags" style="line-height:1"></i> <strong>2 FOR £7.50</strong></div></a>
{% endif %}
{% if product.tags contains "3for20" %}
  <a style="text-decoration:none;" href="{{ product_link }}"><div class="productcardoffer" style="background-color:#0B76E0;"><i class="fa fa fa-solid fa-tags" style="line-height:1"></i> <strong>3 FOR £20</strong></div></a>
{% endif %}
{% if product.tags contains "2for1750" %}
  <a style="text-decoration:none;" href="{{ product_link }}"><div class="productcardoffer" style="background-color:#0B76E0;"><i class="fa fa fa-solid fa-tags" style="line-height:1"></i> <strong>2 FOR £17.50</strong></div></a>
{% endif %}
{% if product.tags contains "3for15" %}
  <a style="text-decoration:none;" href="{{ product_link }}"><div class="productcardoffer" style="background-color:#0B76E0;"><i class="fa fa fa-solid fa-tags" style="line-height:1"></i> <strong>3 FOR £15</strong></div></a>
{% endif %}
{% if product.tags contains "10for10" %}
  <a style="text-decoration:none;" href="{{ product_link }}"><div class="productcardoffer" style="background-color:#0B76E0;"><i class="fa fa fa-solid fa-tags" style="line-height:1"></i> <strong>10 FOR £10</strong></div></a>
{% endif %}
{% if product.tags contains "5for25" %}
  <a style="text-decoration:none;" href="{{ product_link }}"><div class="productcardoffer" style="background-color:#0B76E0;"><i class="fa fa fa-solid fa-tags" style="line-height:1"></i> <strong>5 FOR £25</strong></div></a>
{% endif %}
{% if product.tags contains "5for15" %}
  <a style="text-decoration:none;" href="{{ product_link }}"><div class="productcardoffer" style="background-color:#0B76E0;"><i class="fa fa fa-solid fa-tags" style="line-height:1"></i> <strong>5 FOR £15</strong></div></a>
{% endif %}
{% if product.tags contains "3for1350" %}
  <a style="text-decoration:none;" href="{{ product_link }}"><div class="productcardoffer" style="background-color:#0B76E0;"><i class="fa fa fa-solid fa-tags" style="line-height:1"></i> <strong>3 FOR £13.50</strong></div></a>
{% endif %}
{% if product.tags contains "10for4250" %}
  <a style="text-decoration:none;" href="{{ product_link }}"><div class="productcardoffer" style="background-color:#0B76E0;"><i class="fa fa fa-solid fa-tags" style="line-height:1"></i> <strong>10 FOR £42.50</strong></div></a>
{% endif %}
{% if product.tags contains "3for1250" %}
  <a style="text-decoration:none;" href="{{ product_link }}"><div class="productcardoffer" style="background-color:#0B76E0;"><i class="fa fa fa-solid fa-tags" style="line-height:1"></i> <strong>10 FOR £42.50</strong></div></a>
{% endif %}
{% if product.tags contains "4for20" %}
  <a style="text-decoration:none;" href="{{ product_link }}"><div class="productcardoffer" style="background-color:#0B76E0;"><i class="fa fa fa-solid fa-tags" style="line-height:1"></i> <strong>4 FOR £20</strong></div></a>
{% endif %}
{% if product.tags contains "2for6" %}
  <a style="text-decoration:none;" href="{{ product_link }}"><div class="productcardoffer" style="background-color:#0B76E0;"><i class="fa fa fa-solid fa-tags" style="line-height:1"></i> <strong>2 FOR £6</strong></div></a>
{% endif %}
{% if product.tags contains "3for5" %}
  <a style="text-decoration:none;" href="{{ product_link }}"><div class="productcardoffer" style="background-color:#0B76E0;"><i class="fa fa fa-solid fa-tags" style="line-height:1"></i> <strong>3 FOR £5</strong></div></a>
{% endif %}
{% if product.tags contains "qsalt3for10" %}
  <a style="text-decoration:none;" href="{{ product_link }}"><div class="productcardoffer" style="background-color:#0B76E0;"><i class="fa fa fa-solid fa-tags" style="line-height:1"></i> <strong>3 FOR £10</strong></div></a>
{% endif %}
{% if product.tags contains "qsalt5for15" %}
  <a style="text-decoration:none;" href="{{ product_link }}"><div class="productcardoffer" style="background-color:#0B76E0;"><i class="fa fa fa-solid fa-tags" style="line-height:1"></i> <strong>5 FOR £15</strong></div></a>
{% endif %}
{% if product.tags contains "2for16" %}
  <a style="text-decoration:none;" href="{{ product_link }}"><div class="productcardoffer" style="background-color:#0B76E0;"><i class="fa fa fa-solid fa-tags" style="line-height:1"></i> <strong>2 FOR £16</strong></div></a>
{% endif %}
{% if product.tags contains "2for9" %}
  <a style="text-decoration:none;" href="{{ product_link }}"><div class="productcardoffer" style="background-color:#0B76E0;"><i class="fa fa fa-solid fa-tags" style="line-height:1"></i> <strong>2 FOR £9</strong></div></a>
{% endif %}
{% if product.tags contains "2for1750" %}
  <a style="text-decoration:none;" href="{{ product_link }}"><div class="productcardoffer" style="background-color:#0B76E0;"><i class="fa fa fa-solid fa-tags" style="line-height:1"></i> <strong>2 FOR £17.50</strong></div></a>
{% endif %}
       
          </div>
    
      {% if product_ratings_reviews and product_ratings_star_display == "all" %}
        <div class="productitem--ratings">
          <span class="shopify-product-reviews-badge" data-id="{{ product.id }}">
            <span class="spr-badge">
              <span class="spr-starrating spr-badge-starrating">
                <i class="spr-icon spr-icon-star-empty"></i>
                <i class="spr-icon spr-icon-star-empty"></i>
                <i class="spr-icon spr-icon-star-empty"></i>
                <i class="spr-icon spr-icon-star-empty"></i>
                <i class="spr-icon spr-icon-star-empty"></i>
              </span>
            </span>
          </span>
        </div>
      {% endif %}

      {% if product_description %}
        <div class="productitem--description">
          <p>{{ product_description | truncate: 150 }}</p>

          {% if product_description_size > 150 and product_link %}
            <a
              href="{{ product_link }}"
              class="productitem--link"
              data-product-page-link
            >
              {{ 'product.buttons.view_details' | t }}
            </a>
          {% endif %}
        </div>
      {% endif %}
    </div>

    {% unless recently_viewed %}
      {% if quick_shop_display != 'disabled' or atc_display != 'disabled' %}
        {% comment %}
          Default button appearance and text
        {% endcomment %}
        {% assign quick_shop_text = 'product.buttons.quick_shop' | t %}
        {% assign quick_buy_text = 'product.buttons.add_to_cart' | t %}

        {% assign quick_shop_classes = 'productitem--action-trigger button-secondary' %}
        {% assign quick_buy_classes = 'productitem--action-trigger productitem--action-atc button-primary' %}

        {% if has_variants %}
          {% assign quick_buy_text = 'product.buttons.choose_options' | t %}
        {% endif %}

        {% unless product_available %}
          {% assign quick_buy_text = 'product.buttons.sold_out' | t %}
          {% assign quick_buy_classes = quick_buy_classes | append: ' disabled' %}
        {% endunless %}

        <div class="productitem--actions" data-product-actions>
          <div class="productitem--listview-price">
            {{ product_item_price }}
          </div>

          <div class="productitem--listview-badge">
            {%
              render 'product-badge',
              class_root: 'productitem',
              product: product,
              product_available: product_available,
              on_sale: on_sale,
              price: price,
              compare_at_price: compare_at_price,
              show_saved: consistent_saved,
              compare_at_price_varies: compare_at_price_varies,
              include_range: true,
            %}
          </div>
<button class="{{ quick_shop_classes }}" type="button">
                <a style="text-decoration:none; color:#0b76e0" href="{{ product_link }}">View Product</a>
              </button>
          <button  style="margin-top:5px;"
                class="{{ quick_buy_classes }}"
                type="button"
                
                aria-label="{{ quick_buy_text }}"
                {% unless has_variants %}
                  data-quick-buy
                {% else %}
                  data-quickshop-slim
                {% endunless %}
                data-variant-id="{{ product.selected_or_first_available_variant.id }}"
                {% unless product_available %}disabled{% endunless %}
              >
                <span class="atc-button--text">
                  <i class="fa-light fa-cart-shopping-fast"></i> Quick Add To Cart
                </span>
                <span class="atc-button--icon">
                  {%- render 'icon-spinner' -%}
                </span>
              </button>
            </div>


         

      {% endif %}
    {% endunless %}
  </div>

  {% if atc_display != 'disabled' %}
    <script type="application/json" data-quick-buy-settings>
      {
        "cart_redirection": {{ settings.quickshop_product_cart_redirect | json }},
        "money_format": {{ shop.money_format | strip_html | json }}
      }
    </script>
  {% endif %}
</li>
